/CodeGraveyard
/venv
notebooks/wandb/run-20250316_230010-rw6fv9br/run-rw6fv9br.wandb
notebooks/wandb/run-20250316_230010-rw6fv9br/files/output.log
notebooks/wandb/run-20250316_230010-rw6fv9br/files/requirements.txt
notebooks/wandb/run-20250316_230010-rw6fv9br/files/wandb-metadata.json
notebooks/wandb/run-20250316_230010-rw6fv9br/logs/debug-internal.log
notebooks/wandb/run-20250316_230010-rw6fv9br/logs/debug.log
notebooks/wandb/run-20250316_230039-f135t2tj/logs/debug.log
notebooks/wandb/run-20250317_224249-77j1mpsz/run-77j1mpsz.wandb
notebooks/wandb/run-20250317_224249-77j1mpsz/files/output.log
notebooks/wandb/run-20250317_224249-77j1mpsz/files/requirements.txt
notebooks/wandb/run-20250317_224249-77j1mpsz/files/wandb-metadata.json
notebooks/wandb/run-20250317_224249-77j1mpsz/logs/debug-internal.log
notebooks/wandb/run-20250317_224249-77j1mpsz/logs/debug.log
notebooks/wandb/run-20250317_224354-m36im8m5/run-m36im8m5.wandb
notebooks/wandb/run-20250317_224354-m36im8m5/files/output.log
notebooks/wandb/run-20250317_224354-m36im8m5/files/requirements.txt
notebooks/wandb/run-20250317_224354-m36im8m5/files/wandb-metadata.json
notebooks/wandb/run-20250317_224354-m36im8m5/logs/debug-internal.log
notebooks/wandb/run-20250317_224354-m36im8m5/logs/debug.log
notebooks/wandb/run-20250317_225355-30yvda1u/run-30yvda1u.wandb
notebooks/wandb/run-20250317_225355-30yvda1u/files/output.log
notebooks/wandb/run-20250317_225355-30yvda1u/files/requirements.txt
notebooks/wandb/run-20250317_225355-30yvda1u/files/wandb-metadata.json
notebooks/wandb/run-20250317_225355-30yvda1u/logs/debug-internal.log
notebooks/wandb/run-20250317_225355-30yvda1u/logs/debug.log
notebooks/wandb/run-20250317_230220-1a33azae/run-1a33azae.wandb
notebooks/wandb/run-20250317_230220-1a33azae/files/output.log
notebooks/wandb/run-20250317_230220-1a33azae/files/requirements.txt
notebooks/wandb/run-20250317_230220-1a33azae/files/wandb-metadata.json
notebooks/wandb/run-20250317_230220-1a33azae/logs/debug-internal.log
notebooks/wandb/run-20250317_230220-1a33azae/logs/debug.log
notebooks/wandb/run-20250317_231613-fr7eg0ox/run-fr7eg0ox.wandb
notebooks/wandb/run-20250317_231613-fr7eg0ox/files/output.log
notebooks/wandb/run-20250317_231613-fr7eg0ox/files/requirements.txt
notebooks/wandb/run-20250317_231613-fr7eg0ox/files/wandb-metadata.json
notebooks/wandb/run-20250317_231613-fr7eg0ox/logs/debug-internal.log
notebooks/wandb/run-20250317_231613-fr7eg0ox/logs/debug.log
notebooks/wandb/run-20250318_001119-6wqerkj4/run-6wqerkj4.wandb
notebooks/wandb/run-20250318_001119-6wqerkj4/files/output.log
notebooks/wandb/run-20250318_001119-6wqerkj4/files/requirements.txt
notebooks/wandb/run-20250318_001119-6wqerkj4/files/wandb-metadata.json
notebooks/wandb/run-20250318_001119-6wqerkj4/logs/debug-internal.log
notebooks/wandb/run-20250318_001119-6wqerkj4/logs/debug.log
notebooks/wandb/run-20250318_002016-gqvfoq4z/run-gqvfoq4z.wandb
notebooks/wandb/run-20250318_002016-gqvfoq4z/files/output.log
notebooks/wandb/run-20250318_002016-gqvfoq4z/files/requirements.txt
notebooks/wandb/run-20250318_002016-gqvfoq4z/files/wandb-metadata.json
notebooks/wandb/run-20250318_002016-gqvfoq4z/logs/debug-internal.log
notebooks/wandb/run-20250318_002016-gqvfoq4z/logs/debug.log
notebooks/wandb/run-20250318_002912-7nqsfzbr/run-7nqsfzbr.wandb
notebooks/wandb/run-20250318_002912-7nqsfzbr/files/output.log
notebooks/wandb/run-20250318_002912-7nqsfzbr/files/requirements.txt
notebooks/wandb/run-20250318_002912-7nqsfzbr/files/wandb-metadata.json
notebooks/wandb/run-20250318_002912-7nqsfzbr/logs/debug-internal.log
notebooks/wandb/run-20250318_002912-7nqsfzbr/logs/debug.log
notebooks/wandb/run-20250318_003031-u5yfhewh/logs/debug.log
notebooks/wandb/run-20250318_003100-t2dxxltn/logs/debug.log
notebooks/wandb/run-20250318_003147-23tib43o/run-23tib43o.wandb
notebooks/wandb/run-20250318_003147-23tib43o/files/output.log
notebooks/wandb/run-20250318_003147-23tib43o/files/requirements.txt
notebooks/wandb/run-20250318_003147-23tib43o/files/wandb-metadata.json
notebooks/wandb/run-20250318_003147-23tib43o/files/media/images/val/prediction_chart_42_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_003147-23tib43o/logs/debug-internal.log
notebooks/wandb/run-20250318_003147-23tib43o/logs/debug.log
notebooks/wandb/run-20250318_003327-jdm8kmqz/run-jdm8kmqz.wandb
notebooks/wandb/run-20250318_003327-jdm8kmqz/files/output.log
notebooks/wandb/run-20250318_003327-jdm8kmqz/files/requirements.txt
notebooks/wandb/run-20250318_003327-jdm8kmqz/files/wandb-metadata.json
notebooks/wandb/run-20250318_003327-jdm8kmqz/files/media/images/val/prediction_chart_42_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_003327-jdm8kmqz/files/media/images/val/prediction_chart_91_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_003327-jdm8kmqz/logs/debug-internal.log
notebooks/wandb/run-20250318_003327-jdm8kmqz/logs/debug.log
notebooks/wandb/run-20250318_003436-ylgkv7f7/logs/debug.log
notebooks/wandb/run-20250318_003716-kuppa3dr/run-kuppa3dr.wandb
notebooks/wandb/run-20250318_003716-kuppa3dr/files/output.log
notebooks/wandb/run-20250318_003716-kuppa3dr/files/requirements.txt
notebooks/wandb/run-20250318_003716-kuppa3dr/files/wandb-metadata.json
notebooks/wandb/run-20250318_003716-kuppa3dr/files/media/images/val/prediction_chart_42_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_003716-kuppa3dr/logs/debug-internal.log
notebooks/wandb/run-20250318_003716-kuppa3dr/logs/debug.log
notebooks/wandb/run-20250318_004821-g3cnmmzb/run-g3cnmmzb.wandb
notebooks/wandb/run-20250318_004821-g3cnmmzb/files/output.log
notebooks/wandb/run-20250318_004821-g3cnmmzb/files/requirements.txt
notebooks/wandb/run-20250318_004821-g3cnmmzb/files/wandb-metadata.json
notebooks/wandb/run-20250318_004821-g3cnmmzb/files/media/images/val/prediction_chart_42_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_004821-g3cnmmzb/logs/debug-internal.log
notebooks/wandb/run-20250318_004821-g3cnmmzb/logs/debug.log
notebooks/wandb/run-20250318_143244-s1n0f8b8/run-s1n0f8b8.wandb
notebooks/wandb/run-20250318_143244-s1n0f8b8/files/output.log
notebooks/wandb/run-20250318_143244-s1n0f8b8/files/requirements.txt
notebooks/wandb/run-20250318_143244-s1n0f8b8/files/wandb-metadata.json
notebooks/wandb/run-20250318_143244-s1n0f8b8/logs/debug-internal.log
notebooks/wandb/run-20250318_143244-s1n0f8b8/logs/debug.log
notebooks/wandb/run-20250318_143622-e8afukn6/logs/debug.log
notebooks/wandb/run-20250318_143834-1dj2ht2t/run-1dj2ht2t.wandb
notebooks/wandb/run-20250318_143834-1dj2ht2t/files/output.log
notebooks/wandb/run-20250318_143834-1dj2ht2t/files/requirements.txt
notebooks/wandb/run-20250318_143834-1dj2ht2t/files/wandb-metadata.json
notebooks/wandb/run-20250318_143834-1dj2ht2t/files/media/images/val/prediction_chart_42_3bec64150096a5a49144.png
notebooks/wandb/run-20250318_143834-1dj2ht2t/logs/debug-internal.log
notebooks/wandb/run-20250318_143834-1dj2ht2t/logs/debug.log
notebooks/wandb/run-20250318_151323-iifxxtj5/run-iifxxtj5.wandb
notebooks/wandb/run-20250318_151323-iifxxtj5/files/output.log
notebooks/wandb/run-20250318_151323-iifxxtj5/files/requirements.txt
notebooks/wandb/run-20250318_151323-iifxxtj5/files/wandb-metadata.json
notebooks/wandb/run-20250318_151323-iifxxtj5/logs/debug-internal.log
notebooks/wandb/run-20250318_151323-iifxxtj5/logs/debug.log
notebooks/wandb/run-20250318_153701-lr11fw7p/run-lr11fw7p.wandb
notebooks/wandb/run-20250318_153701-lr11fw7p/files/output.log
notebooks/wandb/run-20250318_153701-lr11fw7p/files/requirements.txt
notebooks/wandb/run-20250318_153701-lr11fw7p/files/wandb-metadata.json
notebooks/wandb/run-20250318_153701-lr11fw7p/logs/debug-internal.log
notebooks/wandb/run-20250318_153701-lr11fw7p/logs/debug.log
notebooks/wandb/run-20250318_164335-w4xhw2so/run-w4xhw2so.wandb
notebooks/wandb/run-20250318_164335-w4xhw2so/files/output.log
notebooks/wandb/run-20250318_164335-w4xhw2so/files/requirements.txt
notebooks/wandb/run-20250318_164335-w4xhw2so/files/wandb-metadata.json
notebooks/wandb/run-20250318_164335-w4xhw2so/logs/debug-internal.log
notebooks/wandb/run-20250318_164335-w4xhw2so/logs/debug.log
notebooks/wandb/run-20250318_164723-2c4llbri/run-2c4llbri.wandb
notebooks/wandb/run-20250318_164723-2c4llbri/files/output.log
notebooks/wandb/run-20250318_164723-2c4llbri/files/requirements.txt
notebooks/wandb/run-20250318_164723-2c4llbri/files/wandb-metadata.json
notebooks/wandb/run-20250318_164723-2c4llbri/logs/debug-internal.log
notebooks/wandb/run-20250318_164723-2c4llbri/logs/debug.log
notebooks/wandb/run-20250318_165052-83m56tzo/run-83m56tzo.wandb
notebooks/wandb/run-20250318_165052-83m56tzo/files/output.log
notebooks/wandb/run-20250318_165052-83m56tzo/files/requirements.txt
notebooks/wandb/run-20250318_165052-83m56tzo/files/wandb-metadata.json
notebooks/wandb/run-20250318_165052-83m56tzo/logs/debug-internal.log
notebooks/wandb/run-20250318_165052-83m56tzo/logs/debug.log
notebooks/wandb/run-20250318_170025-jy85txoz/run-jy85txoz.wandb
notebooks/wandb/run-20250318_170025-jy85txoz/files/output.log
notebooks/wandb/run-20250318_170025-jy85txoz/files/requirements.txt
notebooks/wandb/run-20250318_170025-jy85txoz/files/wandb-metadata.json
notebooks/wandb/run-20250318_170025-jy85txoz/logs/debug-internal.log
notebooks/wandb/run-20250318_170025-jy85txoz/logs/debug.log
notebooks/wandb/run-20250318_172903-lbrzadd0/run-lbrzadd0.wandb
notebooks/wandb/run-20250318_172903-lbrzadd0/files/output.log
notebooks/wandb/run-20250318_172903-lbrzadd0/files/requirements.txt
notebooks/wandb/run-20250318_172903-lbrzadd0/files/wandb-metadata.json
notebooks/wandb/run-20250318_172903-lbrzadd0/logs/debug-internal.log
notebooks/wandb/run-20250318_172903-lbrzadd0/logs/debug.log
notebooks/wandb/run-20250318_173140-0lpyydiz/run-0lpyydiz.wandb
notebooks/wandb/run-20250318_173140-0lpyydiz/files/output.log
notebooks/wandb/run-20250318_173140-0lpyydiz/files/requirements.txt
notebooks/wandb/run-20250318_173140-0lpyydiz/files/wandb-metadata.json
notebooks/wandb/run-20250318_173140-0lpyydiz/logs/debug-internal.log
notebooks/wandb/run-20250318_173140-0lpyydiz/logs/debug.log
notebooks/wandb/run-20250318_173424-c5mkech5/run-c5mkech5.wandb
notebooks/wandb/run-20250318_173424-c5mkech5/files/output.log
notebooks/wandb/run-20250318_173424-c5mkech5/files/requirements.txt
notebooks/wandb/run-20250318_173424-c5mkech5/files/wandb-metadata.json
notebooks/wandb/run-20250318_173424-c5mkech5/logs/debug-internal.log
notebooks/wandb/run-20250318_173424-c5mkech5/logs/debug.log
notebooks/wandb/run-20250318_173545-63dcvrv5/run-63dcvrv5.wandb
notebooks/wandb/run-20250318_173545-63dcvrv5/files/output.log
notebooks/wandb/run-20250318_173545-63dcvrv5/files/requirements.txt
notebooks/wandb/run-20250318_173545-63dcvrv5/files/wandb-metadata.json
notebooks/wandb/run-20250318_173545-63dcvrv5/logs/debug-internal.log
notebooks/wandb/run-20250318_173545-63dcvrv5/logs/debug.log
notebooks/wandb/run-20250318_173640-mqn0bvsf/run-mqn0bvsf.wandb
notebooks/wandb/run-20250318_173640-mqn0bvsf/files/output.log
notebooks/wandb/run-20250318_173640-mqn0bvsf/files/requirements.txt
notebooks/wandb/run-20250318_173640-mqn0bvsf/files/wandb-metadata.json
notebooks/wandb/run-20250318_173640-mqn0bvsf/logs/debug-internal.log
notebooks/wandb/run-20250318_173640-mqn0bvsf/logs/debug.log
/notebooks/wandb
/checkpoints
/log_files
/wandb
/checkpoints
notebooks/checkpoints
notebooks/log_files
notebooks/checkpoints/checkpoint_best.pth
notebooks/log_files/flops_log.csv
log_files/flops_log.csv
